<div class="jumbotron custom-bg">
        <div class="media">
          <div class="media-left">
            <img src="https://picsum.photos/200" alt="Random event">
          </div>
          <div class="media-body">
            <h2><%= link_to event.description, event %></h2>
            <h3><%= event.date %></h3>
            <h3><%= event.location %></h3>
            <h3>Created by: <%= event.creator.name %></h3>
          </div>
        </div>
      </div>