<div class="row">
  <div class="col-md-6">
    <h2>Upcoming events</h2>
    <%= render @upcoming_events, button: true %>
  </div>
  <div class="col-md-6">
    <h2>Past events</h2>
    <%= render @past_events, button: false %>
  </div>
</div>

