<h1 class="user"><%= @user.name %></h1>
<p>I am a new User</p>
<h2>Events I created</h2>
<% @events.each do |event| %>
  <p><%= event.description %></p>
<% end %>
<h2>Events I'm attending</h2>
<h3>Upcoming Events</h3>
<% @upcoming_events.each do |upcoming_event| %>
  <p><%= upcoming_event.description %></p>
<% end %>
<h3>Previous Events</h3>
<% @previous_events.each do |previous_event| %>
  <p><%= previous_event.description %></p>
<% end %>